<!doctype html>
<html lang="en" class="index">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Violin</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="theme-color" content="#f8f8f8">
		<meta name="MobileOptimized" content="320">
		<meta name="HandheldFriendly" content="true">
		<meta name="viewport" content="width=device-width, initial-scale=1, target-densitydpi=device-dpi">
		<link rel="stylesheet" media="screen" href="styles/screen.css">
		<link rel="stylesheet" media="screen" href="styles/theme.css">
		<link rel="stylesheet" media="print" href="styles/print.css">
		<link rel="icon" type="image/x-icon" href="favicon.png">
	</head>
	<body>
		<div id="root">
			<header id="top">
				<p id="logo"><a href="./" accesskey="h">Mike O’Bird</a></p>
				<ul>
					<li><a rel="external" href="./"><i class="ty-social-facebook"></i> <span>Facebook</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-twitter"></i> <span>Twitter</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-linkedin"></i> <span>LinkedIn</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-dribbble"></i> <span>Dribble</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-pinterest"></i> <span>Pinterest</span></a></li>
				</ul>
			</header>                  
			<section id="content">
				<h1 class="intro"><span class="date">2016</span> <span>Wo<span class="overlay-a">r</span>ks</span> Mike O’Bird</h1>
				<div class="about">
					<div class="double middle">
						<div class="col-a">
							<figure class="image-frame"><img src="http://placehold.it/460x600/f1f1f1/f1f1f1" alt="Placeholder" width="460" height="600"></figure>
						</div>
						<div class="col-b">
							<div data-background="About">
								<h2><span class="small">About</span> I’m a UI/UX Designer for<br> over 8 years.</h2>
								<p>Williamsburg disrupt austin cornhole narwhal, gluten-free cronut pinterest tote bag PBR&amp;B chia brooklyn bespoke.</p>
								<p>Tousled slow-carb selvage, keffiyeh photo booth craft beer authentic tofu lo-fi.</p>
								<p class="link-a"><a href="./">View my linkedin profile</a></p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<h2 class="scheme-a size-c text-uppercase"><span class="small">Portfolio</span> Designing web and mobile UI.<br> More at my <a rel="external" href="./">dribbble profile</a>.</h2>
					<div class="news">
						<article>
							<figure><img src="http://placehold.it/460x380/e5e5e5/e5e5e5" alt="Placeholder" width="460" height="380"></figure>
							<div class="info">
								<h3><span class="small">UI / UX Design</span> Callendar App</h3>
								<p>Williamsburg disrupt austin cornhole narwhal, gluten-free cronut pinterest tote ba.</p>
								<p class="link-a"><a href="./">View project</a></p>
							</div>
						</article>
						<article>
							<figure><img src="http://placehold.it/520x420/e5e5e5/e5e5e5" alt="Placeholder" width="520" height="420"></figure>
							<div class="info">
								<h3><span class="small">UI Design</span> Sign In / Sign Up Form</h3>
								<p>Williamsburg disrupt austin cornhole narwhal, gluten-free cronut pinterest tote ba.</p>
								<p class="link-a"><a href="./">View project</a></p>
							</div>
						</article>
						<article>
							<figure><img src="http://placehold.it/460x380/e5e5e5/e5e5e5" alt="Placeholder" width="460" height="380"></figure>
							<div class="info">
								<h3><span class="small">UI / UX Design</span> Onboarding</h3>
								<p>Williamsburg disrupt austin cornhole narwhal, gluten-free cronut pinterest tote ba.</p>
								<p class="link-a"><a href="./">View project</a></p>
							</div>
						</article>
					</div>
					<ul class="list-a">
						<li><a href="./"><span>Daily UI Challange</span> <span>UI Design</span></a></li>
						<li><a href="./"><span>Invibox</span> <span>UI/UX Design</span></a></li>
						<li><a href="./"><span>Gleads</span> <span>UI Design</span></a></li>
					</ul>
				</div>
				<article class="double middle" data-background="Contact">
					<div class="col-a">
						<form action="./" method="post" class="form-a">
							<h2><span class="small">Say hello</span> Let’s do great things together. Don’t hesitate to ask me:</h2>
							<div class="double">
								<div class="col-a">
									<p>
										<label for="ca"><i class="icon-user"></i> Your Name...</label>
										<input type="text" id="ca" name="ca" required>
									</p>
								</div>
								<div class="col-b">
									<p>
										<label for="cb"><i class="icon-envelope"></i> Your E-Mail...</label>
										<input type="email" id="cb" name="cb" required>
									</p>
								</div>
							</div>
							<p>
								<label for="cc"><i class="icon-pencil"></i> Message...</label>
								<textarea id="cc" name="cc" required></textarea>
							</p>	
							<p><button type="submit">Send message</button></p>
							<p class="success"><span class="small">Say Hello</span> Delicious! Your Message<br> Has Been Successfully Sent!</p>
						</form>
					</div>
					<div class="col-b">
						<figure class="image-frame"><img src="http://placehold.it/460x600/f1f1f1/f1f1f1" alt="Placeholder" width="460" height="600"></figure>
					</div>
				</article>
			</section>
			<footer id="footer">
				<p>Mike O’Bird selected works <span class="date">2016</span> &copy; All Rights Reserved</p>
				<ul>
					<li><a rel="external" href="./"><i class="ty-social-facebook"></i> <span>Facebook</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-twitter"></i> <span>Twitter</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-linkedin"></i> <span>LinkedIn</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-dribbble"></i> <span>Dribble</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-pinterest"></i> <span>Pinterest</span></a></li>
				</ul>
			</footer>
		</div>
		<script src="javascript/jquery.js"></script>
		<script src="javascript/scripts.js"></script>
		<script src="javascript/custom.js"></script>
		<script src="javascript/mobile.js"></script>
	</body>
</html>