<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Single project - Violin</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="theme-color" content="#f8f8f8">
		<meta name="MobileOptimized" content="320">
		<meta name="HandheldFriendly" content="true">
		<meta name="viewport" content="width=device-width, initial-scale=1, target-densitydpi=device-dpi">
		<link rel="stylesheet" media="screen" href="styles/screen.css">
		<link rel="stylesheet" media="screen" href="styles/theme.css">
		<link rel="stylesheet" media="print" href="styles/print.css">
		<link rel="icon" type="image/x-icon" href="favicon.png">
	</head>
	<body>
		<div id="root">
			<header id="top">
				<p id="logo"><a href="./" accesskey="h">Mike O’Bird</a></p>
				<ul>
					<li><a rel="external" href="./"><i class="ty-social-facebook"></i> <span>Facebook</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-twitter"></i> <span>Twitter</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-linkedin"></i> <span>LinkedIn</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-dribbble"></i> <span>Dribble</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-pinterest"></i> <span>Pinterest</span></a></li>
				</ul>
			</header>                  
			<section id="content">
				<article class="project">
					<header class="project-header">
						<p><a href="./">Go back to all projects</a></p>
						<h1>Daily UI challenge</h1>
						<p>UI / UX Design</p>
					</header>
					<figure class="image-b"><img src="http://placehold.it/1140x700/f1f1f1/f1f1f1" alt="Placeholder" width="1140" height="700"></figure>
					<h2 class="size-b">Daily UI Challange</h2>
					<p>Literally neutra disrupt twee paleo. Gluten-free dreamcatcher actually, slow-carb flannel williamsburg cold-pressed knausgaard pug letterpress stumptown keffiyeh. Pour-over YOLO ramps, bicycle rights fingerstache shoreditch tofu put a bird on it slow-carb 8-bit thundercats gluten-free blue bottle pinterest DIY.</p>
					<p>Williamsburg disrupt austin cornhole narwhal, gluten-free cronut pinterest tote bag PBR&amp;B chia brooklyn bespoke. Tousled slow-carb selvage, keffiyeh photo booth craft beer authentic tofu lo-fi.</p>
					<figure><img src="http://placehold.it/1140x600/f1f1f1/f1f1f1" alt="Placeholder" width="1140" height="600"></figure>
					<div class="double middle">
						<div class="col-a">
							<h2 class="scheme-a size-c text-uppercase">What is all about? just check at my <a href="./">dribbble profile</a> and find out more.
</h2>
							<p>Letterpress retro ramps PBR&amp;B, offal fanny pack taxidermy hoodie venmo brooklyn. Meditation chambray four loko.</p>
						</div>
						<div class="col-b">
							<figure class="image-frame"><img src="http://placehold.it/460x600/f1f1f1/f1f1f1" alt="Placeholder" width="460" height="600"></figure>
						</div>
					</div>
					<figure class="image-b inv"><img src="http://placehold.it/1140x600/f1f1f1/f1f1f1" alt="Placeholder" width="1140" height="600"></figure>
					<div class="double">
						<article class="col-a">
							<header>
								<h2><span class="small">My role</span> Lorem ipsum dolor sit amet enim. Etiam ullamcorper.</h2>
							</header>
							<p>Williamsburg disrupt austin cornhole narwhal, gluten-free cronut pinterest tote bag PBR&amp;B chia brooklyn bespoke.</p>
							<p>Tousled slow-carb selvage, keffiyeh photo booth craft beer authentic tofu lo-fi.</p>
						</article>
						<article class="col-b">
							<header>
								<h2><span class="small">Problems</span> Quisque lorem tortor fringilla sed vestibulum id, eleifend justo.</h2>
							</header>
							<p>Williamsburg disrupt austin cornhole narwhal, gluten-free cronut pinterest tote bag PBR&amp;B chia brooklyn bespoke.</p>
							<p>Tousled slow-carb selvage, keffiyeh photo booth craft beer authentic tofu lo-fi.</p>
						</article>
					</div>
				</article>
			</section>
			<footer id="footer">
				<p>Mike O’Bird selected works <span class="date">2016</span> &copy; All Rights Reserved</p>
				<ul>
					<li><a rel="external" href="./"><i class="ty-social-facebook"></i> <span>Facebook</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-twitter"></i> <span>Twitter</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-linkedin"></i> <span>LinkedIn</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-dribbble"></i> <span>Dribble</span></a></li>
					<li><a rel="external" href="./"><i class="ty-social-pinterest"></i> <span>Pinterest</span></a></li>
				</ul>
			</footer>
		</div>
		<script src="javascript/jquery.js"></script>
		<script src="javascript/scripts.js"></script>
		<script src="javascript/custom.js"></script>
		<script src="javascript/mobile.js"></script>
	</body>
</html>