<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content=" Underli (themenum) is a HTML template with for all kinds of touchdown pages equivalent to Product, App, Startup, Advertising and marketing Touchdown Pages and for Product Showcase. Moreover 10 attractive touchdown pages Underli options is 10 Featured Kinds, Weblog, 404 and Coming Quickly Templates.">
<meta name="keywords" content="animations, app, App Showcase, blog, bootstrap, clean, gallery, landing, mobile, parallax, portfolio, pricing, software, startup, technology">
<meta name="author" content="themenum">

<title>App Landing Page & Product Showcase HTML template | themenum</title>

<!-- Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" /><!-- Bootstrap -->
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" /><!-- Icons -->
<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" /><!-- Owl Carousal -->

<link rel="stylesheet" href="css/style.css" type="text/css" /><!-- Style -->	
<link rel="stylesheet" href="css/responsive.css" type="text/css" /><!-- Responsive -->	
<link rel="stylesheet" href="css/colors/colors.css" type="text/css" /><!-- color -->		

<link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>

</head>
<body>
<div class="page-loading">
	<img src="assets/loader.gif" alt="" />
</div>
<div class="theme-layout">
	
	<header class="header transparent stick header-white">
		<div class="header-logobar">
			<div class="container">
				<div class="logo">
					<a href="index.html" title="">
						<i class="fa fa-gg"></i>
						<strong>Underli</strong>
						<span>App landing</span>
					</a>
				</div>
				<div class="menu">
					<span class="open-menu-responsive"><i class="fa fa-th"></i></span>
					<nav>
						<ul>
							<li class="menu-item-has-children"><a href="#" title="">Home</a>
								<ul>
									<li><a href="index.html" title="">Demo 1</a></li>
									<li><a href="index2.html" title="">Demo 2</a></li>
									<li><a href="index3.html" title="">Demo 3</a></li>
									<li><a href="index4.html" title="">Demo 4</a></li>
									<li><a href="index5.html" title="">Demo 5</a></li>
									<li><a href="index6.html" title="">Demo 6</a></li>
									<li><a href="index7.html" title="">Demo 7</a></li>
									<li><a href="index8.html" title="">Demo 8</a></li>
									<li><a href="index9.html" title="">Demo 9</a></li>
									<li><a href="index10.html" title="">Demo 10</a></li>
								</ul>
							</li>
							<li><a href="services.html" title="">Services</a></li>
							<li><a href="clients.html" title="">Our Clients</a></li>
							<li><a href="team.html" title="">Our Team</a></li>
							<li class="menu-item-has-children">
								<a href="#" title="">Pages</a>
								<ul>
									<li><a href="error.html" title="">404 Error</a></li>
									<li><a href="faq.html" title="">FAQ'S</a></li>
									<li><a href="soon.html" title="">Coming Soon</a></li>
								</ul>
							</li>
							<li><a href="prices.html" title="">Prices</a></li>
							<li class="menu-item-has-children"><a href="#" title="">Blog</a>
								<ul>
									<li><a href="blog.html" title="">Blog</a></li>
									<li><a href="single-post.html" title="">Single Post</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					<a href="#" title=""><i class="fa fa-gg"></i>Download</a>
				</div>
			</div>
		</div><!-- header logo bar -->
	</header>

	<section>
		<div class="block no-padding curve-bottom">
			<div class="video-background">
				<div class="video-foreground">
					<iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" allowfullscreen></iframe>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="video-app-sec block remove-bottom text-center">
							<i class="fa fa-play-circle"></i>
							<h3>Underli</h3>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
							<img src="images/resource/thanks.png" alt="" />
						</div><!-- Video -->
					</div>
				</div>
			</div>
		</div>
	</section><!-- Main Slider -->

	<section>
		<div class="block layer-top layer-bottom">
			<div data-velocity="-.1" style="background: url(http://placehold.it/1600x900) repeat scroll 50% 422.28px transparent;" class="parallax no-parallax scrolly-invisible light"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="services-sec">
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="services">
										<i class="fa fa-forumbee"></i>
										<h3>Flexible Design</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and industry</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="services">
										<i class="fa fa-tripadvisor "></i>
										<h3>Retina Ready</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and industry</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="services">
										<i class="fa fa-ioxhost "></i>
										<h3>Pixel Perfect</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and industry</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="services">
										<i class="fa fa-shekel "></i>
										<h3>Extreme Pixels</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and industry</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="services">
										<i class="fa fa-shirtsinbulk "></i>
										<h3>Creative Code</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and industry</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="services">
										<i class="fa fa-steam "></i>
										<h3>Bootstrap Grids</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and industry</p>
									</div>
								</div>
							</div>
						</div><!-- Services Section -->
					</div>
				</div>
			</div>
		</div>
	</section><!-- Services -->

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="how-app-works">
							<div class="text-block">
								<div class="row">
									<div class="col-md-12">
										<h3>How does this app work?</h3>
									</div>
									<div class="col-md-8 col-md-offset-2">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima inventore harum ex magni.inventore harum ex magni. maxime quam architecto quo inventore harum ex magni.</p>
									</div>
								</div>
							</div>
							<ul>
								<li>
									<i class="fa fa-opencart"></i>
									<span>Download</span>
									<strong>Underli</strong>
								</li>
								<li class="active">
									<i class="fa fa-lastfm"></i>
									<span>Now Goto</span>
									<strong>Settings</strong>
								</li>
								<li class="active">
									<i class="fa fa-gg"></i>
									<span>Make Some</span>
									<strong>Quick task</strong>
								</li>
								<li>
									<i class="fa fa-ioxhost "></i>
									<span>Save the</span>
									<strong>Underlia</strong>
								</li>
							</ul>
						</div><!-- How app Works -->
					</div>
				</div>
			</div>
		</div>
	</section><!-- How app work -->

	<section>
		<div class="block layer-top layer-bottom">
			<div data-velocity="-.1" style="background: url(http://placehold.it/1600x900) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible light"></div><!-- PARALLAX BACKGROUND IMAGE -->	
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="text-block-video">
							<span>Wanna watch some extra</span>
							<h3>Best App in the market Available now</h3>
							<a href="http://youtu.be/asjcu1VQtOY" data-poptrox="youtube,800x480" title=""><i class="fa fa-play-circle"></i></a>
						</div><!-- Text Block Video -->
					</div>
				</div>
			</div>
		</div>
	</section><!-- Watch Video -->

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="about-product">
							<div class="about-product-thumb">
								<img src="http://placehold.it/668x484" alt="" />
							</div>
							<div class="about-product-detail">
								<span>Creative Designs</span>
								<h3>We are <span>Creative Agency</span> & Our Servives is fit for you </h3>
								<p>The vero eos et accusamus et iusto odio dignissimos ducim qui blanditiis praesentium voluptatum dele nitiquezi atque quos dolores et quas.</p>
								<ul>
									<li><i class="fa fa-circle-o"></i> Web Designing</li>
									<li><i class="fa fa-circle-o"></i> Android Support</li>
									<li><i class="fa fa-circle-o"></i> Web Development</li>
									<li><i class="fa fa-circle-o"></i> Validated Code</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- About Product -->

	<section>
		<div class="block no-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="features-sec">
							<div class="feature-button">
								<ul class="features-nav">	
									<li><a title=""><i class="fa fa-flash"></i>Crystal</a></li>
									<li><a title=""><i class="fa fa-bug"></i>Responsive</a></li>
									<li><a title=""><i class="fa fa-compress "></i>Designing</a></li>
									<li><a title=""><i class="fa fa-foursquare "></i>Features</a></li>
									<li><a title=""><i class="fa fa-font"></i>Themes</a></li>
									<li><a title=""><i class="fa fa-gavel "></i>Coding</a></li>
									<li><a title=""><i class="fa fa-google-wallet"></i>Blunders</a></li>
									<li><a title=""><i class="fa fa-paint-brush"></i>Material</a></li>
								</ul>
							</div>
							<div class="feature-lists">
								<ul class="feature-list-here">	
									<li>
										<div class="feature-product">
											<span>01</span>
											<h3>Underli is Drag & drop base editor</h3>
											<p>There are many variations of passages of Lorem Ipsum available, majority have suffered  There are many variations of passages of Lorem Ipsum available, majority have suffered alteration</p>
											<img src="http://placehold.it/600x600" alt="" />
										</div>
									</li>
									<li>
										<div class="feature-product">
											<span>02</span>
											<h3>It's 100% Responsive & Retina Ready</h3>
											<p>There are many variations of passages of Lorem Ipsum available, majority have suffered  There are many variations of passages of Lorem Ipsum available, majority have suffered alteration</p>
											<img src="http://placehold.it/600x600" alt="" />
										</div>
									</li>
									<li>
										<div class="feature-product">
											<span>03</span>
											<h3>Super Responsive that can be fit easily</h3>
											<p>There are many variations of passages of Lorem Ipsum available, majority have suffered  There are many variations of passages of Lorem Ipsum available, majority have suffered alteration</p>
											<img src="http://placehold.it/600x600" alt="" />
										</div>
									</li>
									<li>
										<div class="feature-product">
											<span>04</span>
											<h3>How to make app like this here Thanks</h3>
											<p>There are many variations of passages of Lorem Ipsum available, majority have suffered  There are many variations of passages of Lorem Ipsum available, majority have suffered alteration</p>
											<img src="http://placehold.it/600x600" alt="" />
										</div>
									</li>
									<li>
										<div class="feature-product">
											<span>05</span>
											<h3>What are you waiting for Just Buy it</h3>
											<p>There are many variations of passages of Lorem Ipsum available, majority have suffered  There are many variations of passages of Lorem Ipsum available, majority have suffered alteration</p>
											<img src="http://placehold.it/600x600" alt="" />
										</div>
									</li>
									<li>
										<div class="feature-product">
											<span>06</span>
											<h3>Here comes the Best & Easy App Template</h3>
											<p>There are many variations of passages of Lorem Ipsum available, majority have suffered  There are many variations of passages of Lorem Ipsum available, majority have suffered alteration</p>
											<img src="http://placehold.it/600x600" alt="" />
										</div>
									</li>
									<li>
										<div class="feature-product">
											<span>07</span>
											<h3>Just tell us We are here to Help you</h3>
											<p>There are many variations of passages of Lorem Ipsum available, majority have suffered  There are many variations of passages of Lorem Ipsum available, majority have suffered alteration</p>
											<img src="http://placehold.it/600x600" alt="" />
										</div>
									</li>
									<li>
										<div class="feature-product">
											<span>08</span>
											<h3>We do not Charge for any Support</h3>
											<p>There are many variations of passages of Lorem Ipsum available, majority have suffered  There are many variations of passages of Lorem Ipsum available, majority have suffered alteration</p>
											<img src="http://placehold.it/600x600" alt="" />
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Features -->

	<section>
		<div class="block no-padding overlape-top">
			<div class="row">
				<div class="col-md-12">
					<div class="app-steps-sec">
						<div class="row">
							<div class="col-md-4">
								<div class="app-step">
									<img src="http://placehold.it/533x441" alt="" />
									<div class="app-step-details">
										<span>01</span>
										<h3>Special Features</h3>
										<p>Add short description of the Step 1, so your customers could feel how it's easy to get a solution with your product</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="app-step active">
									<img src="http://placehold.it/533x441" alt="" />
									<div class="app-step-details">
										<span>02</span>
										<h3>Responsive Design</h3>
										<p>Add short description of the Step 1, so your customers could feel how it's easy to get a solution with your product</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="app-step">
									<img src="http://placehold.it/533x441" alt="" />
									<div class="app-step-details">
										<span>03</span>
										<h3>More Advantages</h3>
										<p>Add short description of the Step 1, so your customers could feel how it's easy to get a solution with your product</p>
									</div>
								</div>
							</div>
						</div>
					</div><!-- App Steps -->
				</div>
			</div>
		</div>
	</section><!-- Steps -->

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="fun-facts-sec">
							<div class="row">
								<div class="col-md-2 col-md-offset-1">
									<div class="fun-fact">
										<i class="fa fa-skyatlas"></i>
										<h3 class="counter">2,981</h3>
										<span>Comments</span>
									</div>
								</div>
								<div class="col-md-2">
									<div class="fun-fact">
										<i class="fa fa-opencart"></i>
										<h3 class="counter">26,130</h3>
										<span>Work Views</span>
									</div>
								</div>
								<div class="col-md-2">
									<div class="fun-fact">
										<i class="fa fa-unlink"></i>
										<h3 class="counter">3,125</h3>
										<span>Availability</span>
									</div>
								</div>
								<div class="col-md-2">
									<div class="fun-fact">
										<i class="fa fa-heart-o"></i>
										<h3 class="counter">1,349</h3>
										<span>Work Views</span>
									</div>
								</div>
								<div class="col-md-2">
									<div class="fun-fact">
										<i class="fa fa-twitch"></i>
										<h3 class="counter">9,108</h3>
										<span>Project tickets</span>
									</div>
								</div>
							</div>
						</div><!-- Fun Fact Section -->
					</div>
				</div>
			</div>
		</div>
	</section><!-- Fun Fatcs -->

	<section>
		<div class="block remove-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="prices-section">
							<div class="row">
								<div class="col-md-4 column">
									<div class="price-table">
										<ul>
											<li class="price-title">Basic Plan</li>
											<li class="price-area"><i class="fa  fa-shield"></i><h3><i>$</i>80<span>p/m</span></h3></li>
											<li class="price-features">Unlimited Projects</li>
											<li class="price-features">75 GB Online Storage</li>
											<li class="price-features">Unlimited User Accounts</li>
											<li class="price-features">Enhanced Security</li>
											<li class="price-button"><img src="http://placehold.it/350x147" alt="" /><a href="#" title="">SIGN UP</a></li>
										</ul>
									</div><!-- Price table -->
								</div>
								<div class="col-md-4 column">
									<div class="price-table active">
										<ul>
											<li class="price-title">Silver Plan</li>
											<li class="price-area"><i class="fa fa-lightbulb-o"></i><h3><i>$</i>90<span>p/m</span></h3></li>
											<li class="price-features">Unlimited Projects</li>
											<li class="price-features">75 GB Online Storage</li>
											<li class="price-features">Unlimited User Accounts</li>
											<li class="price-features">Enhanced Security</li>
											<li class="price-button"><img src="http://placehold.it/350x147" alt="" /><a href="#" title="">SIGN UP</a></li>
										</ul>
									</div><!-- Price table -->
								</div>
								<div class="col-md-4 column">
									<div class="price-table">
										<ul>
											<li class="price-title">Golden Plan</li>
											<li class="price-area"><i class="fa fa-shirtsinbulk"></i><h3><i>$</i>99<span>p/m</span></h3></li>
											<li class="price-features">Unlimited Projects</li>
											<li class="price-features">75 GB Online Storage</li>
											<li class="price-features">Unlimited User Accounts</li>
											<li class="price-features">Enhanced Security</li>
											<li class="price-button"><img src="http://placehold.it/350x147" alt="" /><a href="#" title="">SIGN UP</a></li>
										</ul>
									</div><!-- Price table -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Prices -->

	<section>
		<div class="block">
			<div data-velocity="-.1" style="background: url(http://placehold.it/1600x900) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible light"></div><!-- PARALLAX BACKGROUND IMAGE -->	
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="testimonial-sec">
							<ul class="testimonials">
								<li>	
									<div class="client-thumb-testi">
										<img src="http://placehold.it/77x77" alt="" />
										<h3>William Barel</h3>
										<span>Creative Designer</span>
									</div>
									<p>Coordinates for abs potioning the closest positioned parent box of the positioned abs qoning the closes for abs potioning the closest  positioned parent b ting that ments that</p>
								</li>
								<li>	
									<div class="client-thumb-testi">
										<img src="http://placehold.it/77x77" alt="" />
										<h3>William Barel</h3>
										<span>Creative Designer</span>
									</div>
									<p>Coordinates for abs potioning the closest positioned parent box of the positioned abs qoning the closes for abs potioning the closest  positioned parent b ting that ments that</p>
								</li>
								<li>	
									<div class="client-thumb-testi">
										<img src="http://placehold.it/77x77" alt="" />
										<h3>William Barel</h3>
										<span>Creative Designer</span>
									</div>
									<p>Coordinates for abs potioning the closest positioned parent box of the positioned abs qoning the closes for abs potioning the closest  positioned parent b ting that ments that</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Testimonials -->

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="our-team">
							<div class="team-image">
								<img src="http://placehold.it/370x441" alt="" />
								<i class="fa fa-tint"></i>
							</div>
							<div class="team-title">
								<h3>Bonathan Doe</h3>
								<span>Creative Designer</span>
							</div>
						</div><!-- Our Team -->
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="our-team">
							<div class="team-image">
								<img src="http://placehold.it/370x441" alt="" />
								<i class="fa fa-tint"></i>
							</div>
							<div class="team-title">
								<h3>Dianine Pine</h3>
								<span>Web Developer</span>
							</div>
						</div><!-- Our Team -->
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="our-team">
							<div class="team-image">
								<img src="http://placehold.it/370x441" alt="" />
								<i class="fa fa-tint"></i>
							</div>
							<div class="team-title">
								<h3>Gozilana Bire</h3>
								<span>App Developer</span>
							</div>
						</div><!-- Our Team -->
					</div>
				</div>
			</div>
		</div>
	</section><!-- Team -->

	<section>
		<div class="block remove-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="my-skills">
							<h3>Html</h3><span>40%</span>
							<div class="progress"> 
								<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"> </div> 
							</div>
						</div><!-- My Skills -->
						<div class="my-skills">
							<h3>Photoshop</h3><span>80%</span>
							<div class="progress"> 
								<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"> </div> 
							</div>
						</div><!-- My Skills -->
						<div class="my-skills">
							<h3>Wordpress</h3><span>70%</span>
							<div class="progress"> 
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"> </div> 
							</div>
						</div><!-- My Skills -->
					</div>
				</div>
			</div>
		</div>
	</section><!-- My SKills -->

	<section>
		<div class="block remove-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="app-gallery">
							<li><img src="http://placehold.it/332x591" alt="" /></li>
							<li><img src="http://placehold.it/332x591" alt="" /></li>
							<li><img src="http://placehold.it/332x591" alt="" /></li>
							<li><img src="http://placehold.it/332x591" alt="" /></li>
							<li><img src="http://placehold.it/332x591" alt="" /></li>
							<li><img src="http://placehold.it/332x591" alt="" /></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Gallery -->

	<section>
		<div class="block remove-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title-sec">
							<i class="fa fa-gg"></i>
							<h2>Our Blog Sec</h2>
							<p>It is a long established fact</p>
						</div><!-- title -->
						<div class="blog-sec">
							<div class="row">
								<div class="col-md-6">
									<div class="blog">
										<div class="blog-thumb">
											<a href="#" title=""><img src="http://placehold.it/570x334" alt="" /></a>
										</div>
										<div class="blog-info">
											<a href="#" title="">25/05/2015</a>
											<h2><a href="#" title="">Mentorship – Pathway to Generation.</a></h2>
											<p>Becoming an expert in your career or achieving success beyond your wildest dreams doesn’t  <a href="" title="">[more]</a></p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="blog">
										<div class="blog-thumb">
											<a href="#" title=""><img src="http://placehold.it/570x334" alt="" /></a>
										</div>
										<div class="blog-info">
											<a href="#" title="">25/05/2015</a>
											<h2><a href="#" title="">The Visionary-Integrator Recession</a></h2>
											<p>Becoming an expert in your career or achieving success beyond your wildest dreams doesn’t  <a href="" title="">[more]</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Our Blog -->

	<section>
		<div class="block no-padding">
			<div class="container full-container">
				<div class="row">
					<div class="col-md-12">
						<div class="google-map  layer-top layer-bottom">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158857.72810658868!2d-0.24168151926400253!3d51.5287718408995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2s!4v1452621215004"></iframe>
							<div class="wanna-touch">
								<div class="wanna-touch-inner">
									<div class="info-title">
										<span>WANNA TOUCH?</span>
										<h3>My Address</h3>
									</div>
									<div class="contact-info-list">
										<ul>
											<li><i class="fa fa-location-arrow"></i> 2512 Cherry Tree Drive</li>
											<li><i class="fa fa-map-marker"></i> 2512 Cherry Tree Drive</li>
											<li><i class="fa fa-phone"></i> 904-328-0029 675-4356</li>
											<li><i class="fa fa-flash"></i> Family practitioner</li>
										</ul>
										<span class="view-location"><i class="fa fa-map-o"></i> VIEW LOCATION</span>
									</div>
								</div>
							</div>
							<span class="hide-location"><i class="fa fa-eye-slash"></i> HIDE LOCATION</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Map -->

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="contact-page-sec">
							<div class="row">
								<div class="col-md-6 column">
									<div id="contact">
										<div id="message"></div>
										<div class="contact-form">
											<form method="post" action="contact.php" name="contactform" id="contactform">
												<div class="row">
													<div class="col-md-12">
														<i class="fa fa-user"></i>
														<input  name="name" type="text" id="name" placeholder="Name">
													</div>
													<div class="col-md-12">
														<i class="fa fa-at"></i>
														<input name="email" type="text" id="email" placeholder="Email">
													</div>
													<div class="col-md-12">
														<i class="fa fa-pencil"></i>
														<textarea name="comments" id="comments" placeholder="Message"></textarea>
													</div>
													<div class="col-md-12">
														<button type="submit" class="submit theme-btn" id="submit">SEND NOW</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="col-md-6 column">
									<div class="contact-details">
										<div class="contact-infos">
											<ul>
												<li>
													<span><i class="fa fa-phone"></i> Address</span>
													<p>765 Shuttle Swift Area <br>at New Born Road </p>
												</li>
												<li>
													<span><i class="fa fa-fax"></i> Fax/Email</span>
													<p>674-46-7-0,   234-8-987 <br>hello@email.com</p>
												</li>
											</ul>
										</div>
										<ul class="social-btns">
											<li><a title="" href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a title="" href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a title="" href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a title="" href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a title="" href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a title="" href="#"><i class="fa fa-tumblr"></i></a></li>
										</ul>
									</div><!-- Contact Details -->
									<div class="subscribe-us">
										<span>Stop being invisible today signup now for weekly.</span>
										<form>
											<input type="text" placeholder="Enter your email">
											<input type="submit" value="SIGNUP">
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Contact -->

	<section>
		<div  class="block gray no-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="bottom-line">
							<span>Copyright All Right Reserved 2015 <a href="http://www.themenum.com" title="">Themenum.com</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Bottom Line -->

</div>

<!-- Script -->
<script type="text/javascript" src="js/modernizr.js"></script><!-- Modernizer -->
<script type="text/javascript" src="js/jquery-2.1.1.js"></script><!-- Jquery -->
<script type="text/javascript" src="js/script.js"></script><!-- Script -->
<script type="text/javascript" src="js/bootstrap.min.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="js/slick.min.js"></script><!-- HTML -->
<script type="text/javascript" src="js/scrolly.js"></script><!-- Parallax -->
<script type="text/javascript" src="js/jquery.poptrox.min.js"></script><!-- PopTrox -->
<script type="text/javascript" src="js/waypoints.js"></script><!-- Way Point -->
<script type="text/javascript" src="js/scrolltopcontrol.js"></script><!-- ScrollTopControl -->


</body>
</html>